<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<servlet>
		<description></description>
		<display-name>MyFirstServlet</display-name>
		<servlet-name>MyFirstServlet</servlet-name>
		<servlet-class>sample.MyFirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFirstServlet</servlet-name>
		<url-pattern>/MyFirstServlet</url-pattern>
	</servlet-mapping>
	<display-name>JSPStudy</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LifeCycle</display-name>
		<servlet-name>LifeCycle</servlet-name>
		<servlet-class>sample.LifeCycle</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LifeCycle</servlet-name>
		<url-pattern>/lifecycl0e0</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VisitInsert</display-name>
		<servlet-name>VisitInsert</servlet-name>
		<servlet-class>sample.VisitInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitInsert</servlet-name>
		<url-pattern>/visitinsert</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>VisitList</display-name>
		<servlet-name>VisitList</servlet-name>
		<servlet-class>sample.VisitList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitList</servlet-name>
		<url-pattern>/VisitList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberCreate</display-name>
		<servlet-name>MemberCreate</servlet-name>
		<servlet-class>sample.member.MemberCreate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberCreate</servlet-name>
		<url-pattern>/MemberCreate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberMain</display-name>
		<servlet-name>MemberMain</servlet-name>
		<servlet-class>sample.member.MemberMain</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberMain</servlet-name>
		<url-pattern>/MemberMain</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberLogin</display-name>
		<servlet-name>MemberLogin</servlet-name>
		<servlet-class>sample.member.MemberLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberLogin</servlet-name>
		<url-pattern>/MemberLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>login.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginCheck</display-name>
		<servlet-name>LoginCheck</servlet-name>
		<servlet-class>login.LoginCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginCheck</servlet-name>
		<url-pattern>/LoginCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>login.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberCheck</display-name>
		<servlet-name>MemberCheck</servlet-name>
		<servlet-class>sample.member.MemberCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberCheck</servlet-name>
		<url-pattern>/MemberCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberLogout</display-name>
		<servlet-name>MemberLogout</servlet-name>
		<servlet-class>sample.member.MemberLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberLogout</servlet-name>
		<url-pattern>/MemberLogout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberInfo</display-name>
		<servlet-name>MemberInfo</servlet-name>
		<servlet-class>sample.member.MemberInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberInfo</servlet-name>
		<url-pattern>/MemberInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MemberRegister</display-name>
		<servlet-name>MemberRegister</servlet-name>
		<servlet-class>sample.member.MemberRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberRegister</servlet-name>
		<url-pattern>/MemberRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegisterCheck</display-name>
		<servlet-name>RegisterCheck</servlet-name>
		<servlet-class>sample.member.RegisterCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCheck</servlet-name>
		<url-pattern>/RegisterCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>sample.member.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestGetPostService</display-name>
		<servlet-name>TestGetPostService</servlet-name>
		<servlet-class>sample.TestGetPostService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestGetPostService</servlet-name>
		<url-pattern>/TestGetPostService</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Destination</display-name>
		<servlet-name>Destination</servlet-name>
		<servlet-class>sample.Destination</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Destination</servlet-name>
		<url-pattern>/Destination</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Source</display-name>
		<servlet-name>Source</servlet-name>
		<servlet-class>sample.Source</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Source</servlet-name>
		<url-pattern>/Source</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Proctest</display-name>
		<servlet-name>Proctest</servlet-name>
		<servlet-class>test.Proctest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Proctest</servlet-name>
		<url-pattern>/Proctest</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>ConnectionPool</description>
		<res-ref-name>jdbc/myOracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>